---
import ParticlesBackground from '@/components/atoms/ParticlesBackground/ParticlesBackground';
import Layout from '../layouts/Layout.astro';
import Typography from '@/components/atoms/Typography/Typography';
---

<Layout title="Welcome to Astro">
  <section
    class="flex h-screen w-full flex-col items-center justify-center text-center"
  >
    <div>
      <Typography as="h1" variant="h1" gradient={true} className="mb-3">
        Juan Felipe Parra Runceria
      </Typography>
    </div>
    <h2 class="text-3xl font-semibold italic lg:text-3xl">
      Frontend Web Software Developer
    </h2>
    <p class="text-lg font-medium text-neutral-500">
      Intuitive User Experiences
    </p>
    <ParticlesBackground client:load />
  </section>
</Layout>
