<header class="fixed my-5 w-full px-5">
  <nav class="mx-auto flex max-w-screen-xl items-center justify-between">
    <a href="/" class="text-2xl font-semibold">JFPR</a>
    <div class="flex gap-10">
      <a href="/about">About</a>
      <a href="/about">Services</a>
      <a href="/blog">Contact</a>
    </div>
  </nav>
</header>
