---
import Navbar from '@/components/molecules/Navbar/Navbar';
---

<header class="fixed w-full bg-neutral-950 px-5 py-5 shadow-xl">
  <Navbar client:load>
    <p slot="mainLogo" class="scroll-m-6">JFPR</p>
  </Navbar>
</header>
